.himage {
	/* Set size and border of the top products */
	border: 1px solid;
	border-color: #A7A7A7;
	height: 150px;
	width: 150px
}
#database {
	/* Align database 420 pixels (420/900 - Not on the browser window edge) left from center */
	position: absolute;
	left: 50%;
	margin-left: -420px;
	top: 10px;
}