@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700|Lato:400italic);
/* START GLOBAL CSS */
html, body {
	/* Align text to the center; set the font to Lato, set margins to 0 (window/container edge) */
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
}
#container {
	/* Styles to make the footer anchored */
	min-height: 100%;
	min-width: 900px;
	position: relative;
	display: none; /* Initially hide the page until the page finishes loading */
}
a:visited {
	/* Make visited links remain black, instead of turning purple */
	color: black;
}
a {
	/* Remove underline from hyperlinks */
	text-decoration: none;
	color: black;
}
.header {
	/* Move element 10 pixels down??? */
	margin-top: 10px;
}
.headergradient {
	/* Gradient for the header, from #86cee4 to #85b9e2 */
	background: #86cee4; /* Old browsers */
	background: -moz-linear-gradient(top, #86cee4 0%, #85b9e2 100%); /* Firefox 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86cee4), color-stop(100%, #85b9e2)); /* Chrome & Safari 4+ */
	background: -webkit-linear-gradient(top, #86cee4 0%, #85b9e2 100%); /* Chrome 10+ & Safari 5.1+ */
	background: -o-linear-gradient(top, #86cee4 0%, #85b9e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #86cee4 0%, #85b9e2 100%); /* Internet Explorer 10+ */
	background: linear-gradient(to bottom, #86cee4 0%, #85b9e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86cee4', endColorstr='#85b9e2', GradientType=0 ); /* Internet Explorer 6,7,8,9 */
}
.logo {
	/* Set logo width and height */
	width: 300px;
	height: 82px;
}
#footer_wrapper {
	/* Set footer _background_ colour to #86CEE4, keep footer at bottom of page */
	background-color: #86CEE4;
	position: absolute;
	width: 100%;
}
.footer_fix {
	/* Fix issue with footers */
	bottom: 0;
}
.footergradient {
	/* Set footer gradient */
	background: #85b9e2;
	background: -moz-linear-gradient(top, #85b9e2 0%, #86cee4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85b9e2), color-stop(100%, #86cee4));
	background: -webkit-linear-gradient(top, #85b9e2 0%, #86cee4 100%);
	background: -o-linear-gradient(top, #85b9e2 0%, #86cee4 100%);
	background: -ms-linear-gradient(top, #85b9e2 0%, #86cee4 100%);
	background: linear-gradient(to bottom, #85b9e2 0%, #86cee4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85b9e2', endColorstr='#86cee4', GradientType=0 );
}
#footer {
	/* Set footer size */
	width: 900px;
	height: 145px;
}
#footer a {
	/* Set footer link colour */
	color: #000;
}
#infocolumns {
	/* Set infocolumn size */
	height: 150px;
	padding-bottom: 10px;
}
#infocolumns div {
	/* Spacing */
	float: left;
	margin: 0;
	width: 300px;
}
#infocolumns div h1 {
	/* Spacing */
	margin-top: 5px;
	margin-bottom: 5px;
}
#infocolumns div p {
	/* Spacing */
	line-height: 5px;
	margin: 12px;
}
.borderbottom {
	/* Set 1 pixel solid line bottom border */
	border-bottom: 1px solid;
}
.borderc {
	/* Set border colour to a light-ish grey */
	border-color: #A7A7A7;
}
.nomargin {
	/* Strip margins */
	margin: 0 auto;
}
#hcart {
	/* Header cart link and count */
	/* Initially hide and show when JavaScript changes its display value */
	position: absolute;
	right: 50%;
	margin-right: -420px;
	top: 10px;
	display: none;
}

/* GLOBAL -> START Navigation Bar CSS */
/* css motto - "whatever works" */
#navigation-bar ul, #product-navigation-bar ul {
	/* Remove list item style (bullet point) + Spacing */
	list-style: none;
	line-height: 1;
	display: inline-block;
	margin: 0;
	padding: 0;
}
#navigation-bar ul li, #product-navigation-bar ul li {
	/* Align left */
	float: left;
	display: inline-block;
	padding: 0;
}
#navigation-bar ul li a {
	/* Set the font of list items with the <a> tag (all of them though) to Open Sans, with the colour white, on font size 14, using font weight 700 (bold); Set all characters to upper case */
	color: #fff;
	text-decoration: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	padding: 15px 25px;
}
#navigation-bar ul li a:after {
	/* Selected list item underlining */
	content: '';
	display: block;
	position: absolute;
	right: -3px;
	top: 19px;
	height: 6px;
	width: 6px;
	background: #fff;
	opacity: .5;
}
#navigation-bar ul li a:before {
	/* Selected list item animation */
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #333;
	-webkit-transition: width .25s;
	-moz-transition: width .25s;
	-ms-transition: width .25s;
	-o-transition: width .25s;
	transition: width .25s;
}
#navigation-bar ul li.last >  a:after, #product-navigation-bar ul li.last >  a:after, #navigation-bar ul li:last-child >  a:after, #product-navigation-bar ul li:last-child >  a:after {
	/* Hides separator for the last item in the list */
	display: none;
}
#navigation-bar ul li a:hover, #navigation-bar ul li.active a {
	/* Change selected list item's font/text colour to #333 (grey) */
	color: #333;
}
#navigation-bar ul li a:hover:before, #product-navigation-bar ul li a:hover:before, #navigation-bar ul li.active a:before, #product-navigation-bar ul li.active a:before {
	/* Set current list item (the current page) underline */
	width: 100%;
}
/* GLOBAL -> END Navigation Bar CSS */

.table {
	/* Set a border of 2px and have the borders go full size */
	border: 2px solid;
	border-collapse: collapse;
	margin: auto;
}
.table td {
	/* Border + Spacing */
	border: 1px solid;
	padding: 5px;
}
.table th {
	/* Border + Spacing */
	border: 1px solid;
	border-bottom: 2px solid;
	padding: 5px;
}
/* END GLOBAL CSS */
  
/* START Excluding Product Page CSS */
#header {
	/* Set background colour to #86CEE4 and always stay ontop */
	background-color: #86CEE4;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 140px;
	z-index: 10;
}
#content {
	/* Set background colour to #86CEE4, shadow around edge of container*/
	margin: 140px auto 0 auto;
	padding-top: 30px;
	padding-bottom: 180px;
	width: 900px;
	background-color: #86CEE4;
	box-shadow: 0px 0px 8px #888888;
}
/* END Excluding Product Page CSS */
